<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.eolwral.osmonitor.legacy"
      android:installLocation="auto" android:versionName="2.0.5" android:versionCode="28">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="8"/>
    <application android:label="@string/app_name" android:icon="@drawable/appicon">
    	<activity android:name="com.eolwral.osmonitor.legacy.OSMonitor"
                  android:label="@string/app_name" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:enabled="true" android:name="com.eolwral.osmonitor.legacy.BootUpReceiver"
				  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

		<service android:name="OSMonitorService">
            <intent-filter>
                <action android:name="com.eolwral.osmonitor.leagcy.OSMonitorService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:configChanges="keyboardHidden" 
        		  android:name="com.eolwral.osmonitor.legacy.processes.ProcessList" />
        <activity android:configChanges="keyboardHidden" 
                  android:name="com.eolwral.osmonitor.legacy.interfaces.InterfaceList" />
        <activity android:configChanges="keyboardHidden" 
                  android:name="com.eolwral.osmonitor.legacy.networks.NetworkList" />
        <activity android:configChanges="keyboardHidden" 
                  android:name="com.eolwral.osmonitor.legacy.messages.DebugBox" />
        <activity android:configChanges="keyboardHidden" 
                  android:name="com.eolwral.osmonitor.legacy.misc.MiscBox" />
		<activity android:name="com.eolwral.osmonitor.legacy.preferences.Preferences" />
		<uses-library android:name="com.google.android.maps"/>
	</application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.READ_LOGS" />
 	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens android:largeScreens="true"
    				  android:smallScreens="true" 
                      android:normalScreens="true" 
                      android:anyDensity="true" 
                      android:resizeable="true"/>
	
</manifest>
